@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    background-color: #fefefe;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Homepage */
  /* Header oscuro */
  
  #header-black{
      background-color: #121212;
      height: 50px;
      justify-content: center;
      align-items: center;
      display: flex;
      
  }
  
  #header-black p{
      color:  #fefefe;
      background-color: #121212;
      padding-right: 20px;
  }
  
  #header-black h2{
      color: #fefefe;
      background-color: #121212;
      border-bottom: 1px solid #fefefe;
      font-size: 19px;
  }
  
  #header-black #languages{
      background-color: #121212;
      color: #fefefe;
      border: #121212;
      width: 80px;
      height: 30px;
      border-radius: 10px;
      position: relative;
      left: 330px;
  }
  
  /* Header Principal */
  
  #header-principal img{
    width: 200px;
    padding-top: 25px;
    padding-left: 20px;
    position: relative;
  }
  
  #header-principal #nav{
    text-align: center;
    background-color: none;
  }
  
  #header-principal #nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #8E06C2;
    font-weight: bold;
    position: relative;
    padding-right: 40px;
    top: -35px;
  }
  
  /* Contenedor del buscador */
  
  .buscador {
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px; /* Ajusta según el espacio que quieras desde el borde derecho */
    top: 80px; /* Ajusta según tu header */
  }
  
  .buscador input {
    background-color: #F5F5F5;
    padding-left: 10px;
    border-color: #F5F5F5;
    border-radius: 5px 0 0 5px;
    width: 200px;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    position: absolute;
    right: 340px;
    top: 5px;
  }
  
  .buscador button {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #F5F5F5;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 300px;
    top: 5px;
  }
  
  .heart{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 210px;
    top: 85px;
  }
  
  .heart button{
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }
  
  .heart i {
    color: #121212;
    font-size: 20px;
  }
  
  .cart{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 160px;
    top: 85px;
  }
  
  .cart button{
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }
  
  .cart i {
  
    color: #121212;
    font-size: 20px;
  }
  
  .linea1 {
    width: 100%;
    height: 2px;
    background-color: #898989;
    margin: 20px 0;
    position: relative;
    bottom: 20px;
  }
  
  
  #categories{
    color: #8E06C2;
    margin-left: 100px;
  }
  
  #categories i{
    width: 40px;
    height: 40px;
    align-items: center;
  }
  
  #categories a{
    padding-right: 10px;
    color: #8E06C2;
    font-family: 'Poppins' 'sans-serif';
    text-decoration: none;
    font-size: 22px;
  }
  
  #categories hr{
    border: none;
    padding-top: 10px;
  }
  
  .linea2 {
    width: 2px;
    height: 530px;
    background-color: #898989;
    margin: 20px 0;
    position: absolute;
    bottom: 192px;
    left: 420px;
  }
  
  .linea3 {
    width: 30px;
    height: 60px;
    background-color: #8E06C2;
    margin: 20px 0;
    position: absolute;
    top: 800px;
    left: 20px;
    border-radius: 3px;
  }
  
  #carrusel {
      width: 1200px;
      height: 460px;
      overflow: hidden;
      position: relative;
      left: 500px;
      bottom: 500px;
    }
    
    .slide {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    
    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .activo {
      display: block;
    }
    
    .flecha {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0,0,0,0.5);
      color: white;
      border: none;
      font-size: 18px;
      padding: 8px;
      cursor: pointer;
    }
    
    .izquierda { left: 0; }
    .derecha { right: 0; }
    
  
  /* Sign-In */
  
  .sign-up h2{
    font-family: 'Inter', 'Sans Serif';
    font-size: 40px;
    position: relative;
    bottom: 600px;
    left: 1200px;
    font-weight: normal;
    font-weight: bold;
  }
  
  .sign-up h3{
    font-family: 'Poppins' 'Sans Serif';
    font-size: 20px;
    justify-content: center;
    position: relative;
    bottom: 580px;
    left: 1200px;
    font-weight: normal;
  }
  
  .form-sign-up input{
    font-family: 'Poppins' 'Sans Serif';
    font-size: 22px;
    justify-content: center;
    position: relative;
    bottom: 555px;
    left: 1230px;
    border-color: #fefefe;
    border: none;
    padding: 15px;
    border-bottom: 1px solid #898989;
    text-align: left;
  }
  
  .form-sign-up i{
    font-size: 33px;
    position: relative;
    bottom: 540px;
    left: 1210px;
  }
  
  .form-sign-up .buttoncreate button {
    font-family: 'Poppins' 'sans-serif';
    font-size: 20px;
    color: #fefefe;
    background-color: #700B97;
    width: 165px;
    height: 60px;
    position: relative;
    bottom: 520px;
    left: 1200px;
    border: none;
    border-radius: 7px;
  }
  
  .form-sign-up .button-google button{
    font-family: 'Poppins' 'sans-serif';
    font-size: 20px;
    color: #121212;
    background-color: #fefefe;
    width: 365px;
    height: 60px;
    position: relative;
    bottom: 490px;
    left: 1200px;
    border-color: #898989;
    border-radius: 7px;
  }
  
  .form-sign-up img{
    width: 35px;
    position: relative;
    bottom: 540px;
    left: 1220px;
  }
  
  .form-sign-up h4{
    font-family: 'Poppins' 'sans-serif';
    color: #898989;
    font-size: 17px;
    font-weight: lighter;
    position: relative;
    bottom: 490px;
    left: 1220px;
  }
  
  .form-sign-up a{
    font-family: 'Poppins' 'sans-serif';
    color: #700B97;
    font-size: 15px;
    font-weight: bold;
    border-bottom: #898989;
    position: relative;
    bottom: 560px;
    left: 1380px;
    text-decoration: none;
  }
  
  #flash-sales h2{
    font-family: 'Poppins' 'sans-serif';
    color: #8E06C2;
    position: absolute;
    top: 835px;
    background: none;
    left: 60px;
    font-size: 25px;
  }
  
  #flash-sales h3{
    font-family: 'Poppins' 'sans-serif';
    font-size: 38px;
    position: absolute;
    left: 22px;
    top: 900px;
  }

  footer {
    margin-top: 50px;
       padding: 40px 20px; /* Añade relleno horizontal */
       font-family: 'Poppins', sans-serif;
       background-color: #121212;
       color: white;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
   }
   
   .footer-section img.footer-logo {
     font-family: 'Poppins' 'sans-serif';
     max-width: 150px; 
     height: auto;
     display: block;
     margin: 0 auto; 
     background: none;
   }
   
   .send-message input {
     font-family: 'Poppins' 'sans-serif';
     background-color: #121212;
     padding-left: 10px;
     border-color: #F5F5F5;
     border-radius: 5px 0 0 5px;
     width: 200px;
     height: 40px;
     outline: none;
     border: 1px solid #f1f1f1;
     position: absolute;
     left: 180px;
     top: 4350px;
   }
   
   .send-message button {
     font-family: 'Poppins' 'sans-serif';
     width: 40px;
     height: 40px;
     border: 1px solid #f1f1f1;
     border-left: none;
     background-color: #F5F5F5;
     border-radius: 0 5px 5px 0;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     left: 380px;
     top: 4350px;
   }
   
   
   .footer-section {
     font-family: 'Poppins' sans-serif;
     flex: 1;
     padding: 20px;
     margin: 10px;
     background-color: #121212;
     border-radius: 8px; 
     
   }
   
   .footer-section h3 {
     font-family: 'Poppins' sans-serif;
     margin-bottom: 10px;
     background: none;
   }
   
   .footer-section ul {
     font-family: 'Poppins' sans-serif;
     list-style: none;
     padding: 0;
     background: none;
   }
   
   .footer-section ul li {
     margin-bottom: 10px;
     font-family: 'Poppins' sans-serif;
     background: none;
   }
   
   .footer-section a {
     font-family: 'Poppins' sans-serif;
     text-decoration: none;
     color: #f1f1f1;
     background: none;
   }
   
   .footer-section img{
     background: #f1f1f1;
     border: 15px;
     border-radius: 5px;
   }
   
   .footer-section a:hover {
     font-family: 'Poppins' sans-serif;
     text-decoration: underline;
     background: none;
   }