<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/products/stylesphone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="../../../public/img/icon_principal.ico" type="image/x-icon">
    <title>seccion producto</title>
</head>
<body>
    <!-- Alerta Descuento -->
<header>
  <div id="header-black">
    <p>Rebajas de Verano en Todos los Trajes de Baño y Envío Exprés Gratuito: ¡50 % de Descuento!</p>
    <h2>¡Compra Ahora!</h2>
    <select id="languages">
      <option value="Español:">Español:</option>
      <option value="English">English</option>
    </select>
  </div>

  <!-- Header Principal -->
  <div id="header-principal">
    <!-- Logo -->
    <a href="index.html">
      <img src="../../../public/img/logo.svg" alt="Logo ShopNext">
    </a>

    <!-- Navegación -->
    <div id="nav">
      <a href="../../../public/index.html">Inicio</a>
      <a href="../../auth/signUp.html">Regístrate</a>
      <a href="../aboutUs.html">Acerca de</a>
      <a href="../contact.html">Contacto</a>
    </div>

    <!-- Contenedor de herramientas: buscador, corazón, carrito -->
    <div style="display: flex; align-items: center;">
      <!-- Buscador -->
      <div class="buscador">
        <input type="text" placeholder="¿Qué estás buscando?">
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass" style="color: #121212;"></i>
        </button>
      </div>

      <!-- Corazón -->
      <div class="heart">
        <button type="submit">
          <i class="fa-solid fa-heart" style="color: #121212;"></i>
        </button>
      </div>

      <!-- Carrito -->
      <div class="cart">
        <button type="submit">
          <i class="fa-solid fa-cart-shopping" style="color: #121212;"></i>
        </button>
      </div>
    </div>
  </div>
</header>
<div id="separador"><section></section></div>
<!-- Sección Publicitaria-->
<section class="seccion-promocional">
  <div class="contenido-promocional">
    <p class="subtitulo">CELULARES Y SMARTWATCHES</p>
    <h2 class="titulo">ENCUENTRA TU CELULAR IDEAL</h2>
  </div>
  <img src="../../../public/img/products/publicitaria1.png" alt="Celular Izquierda" class="img-izquierda">
  <img src="../../../public/img/products/publicitaria2.png" alt="Celular Derecha" class="img-derecha">
</section>

<!-- Slider de marcas -->
<section class="seccion-marcas">
  <h2>CONOCE TODAS NUESTRAS MARCAS</h2>
  <div class="contenedor-marcas">
    <div class="marca"><img src="../../../public/img/products/lapple.png" alt="Apple"></div>
    <div class="marca"><img src="../../../public/img/products/lsamsung.png" alt="Samsung"></div>
    <div class="marca"><img src="../../../public/img/products/lxiaomi.png" alt="Xiaomi"></div>
    <div class="marca"><img src="../../../public/img/products/lmotorola.png" alt="Motorola"></div>
    <div class="marca"><img src="../../../public/img/products/ltecno.png" alt="Tecno"></div>
    <div class="marca"><img src="../../../public/img/products/lrealme.webp" alt="Realme"></div>
    <div class="marca"><img src="../../../public/img/products/lvivo.png" alt="Vivo"></div>
  </div>
</section>



<section class="section-telefonos">
  <h2>Teléfonos</h2>
  <div class="product-grid">

    <!-- Producto 1 -->
   <div class="product">
  <div class="discount">-10%</div>

  <div class="icons">
    <i class="fas fa-heart"></i>
    <i class="fas fa-eye"></i>
  </div>

  <div class="product-image-wrapper">
    <img src="../../../public/img/products/apple.png" alt="iPhone 16 Pro Max 256GB">
    <button class="add-to-cart-btn">Añadir al carrito</button>
  </div>

  <p>iPhone 16 Pro Max 256GB</p>
  <p class="price">$6.700.000 <span class="old-price"> $6.999.000</span></p>
  <p class="rating">★★★★★ (82)</p>
</div>



    <!-- Producto 2 -->
   <div class="product">
  <div class="discount">-15%</div>

  <div class="icons">
    <i class="fas fa-heart"></i>
    <i class="fas fa-eye"></i>
  </div>

  <div class="product-image-wrapper">
    <img src="../../../public/img/products/vivo.webp" alt="Vivo V27 Pro 5G">
    <button class="add-to-cart-btn">Añadir al carrito</button>
  </div>

  <p>Vivo V27 Pro 5G</p>
  <p class="price">$ 980.000 <span class="old-price">$ 1.109.000,00</span></p>
  <p class="rating">★★★★★ (35)</p>
</div>



    <!-- Producto 3 -->
   <div class="product">
  <div class="discount">-25%</div>

  <div class="icons">
    <i class="fas fa-heart"></i>
    <i class="fas fa-eye"></i>
  </div>

  <div class="product-image-wrapper">
    <img src="../../../public/img/products/realme.webp" alt="iPhone 14 Pro Max">
    <button class="add-to-cart-btn">Añadir al carrito</button>
  </div>

  <p>realme 14x 5G</p>
  <p class="price">700.336,38 <span class="old-price">759.336,38</span></p>
  <p class="rating">★★★★★ (52)</p>
</div>


    <!-- Producto 4 -->
   <div class="product">
  <div class="discount">-10%</div>

  <div class="icons">
    <i class="fas fa-heart"></i>
    <i class="fas fa-eye"></i>
  </div>

  <div class="product-image-wrapper">
    <img src="../../../public/img/products/tecno.webp" alt="iPhone 14 Pro Max">
    <button class="add-to-cart-btn">Añadir al carrito</button>
  </div>

  <p>Tecno Spark 30 5G, 6GB/128GB</p>
  <p class="price">836.001,51 <span class="old-price">856.001,51</span></p>
  <p class="rating">★★★★★ (38)</p>
</div>

  </div>
</section>



<section class="section-telefonos">
  <h2>Teléfonos</h2>
  <div class="product-grid">

    <!-- Producto 5 -->
   <div class="product">
  <div class="discount">-5%</div>

  <div class="icons">
    <i class="fas fa-heart"></i>
    <i class="fas fa-eye"></i>
  </div>

  <div class="product-image-wrapper">
    <img src="../../../public/img/products/samsung.png" alt="iPhone 14 Pro Max">
    <button class="add-to-cart-btn">Añadir al carrito</button>
  </div>

  <p>Galaxy S23 Ultra 5G</p>
  <p class="price">$ 7.499.920 <span class="old-price">$ 7.599.920</span></p>
  <p class="rating">★★★★★ (48)</p>
</div>



    <!-- Producto 6 -->
   <div class="product">
  <div class="discount">-15%</div>

  <div class="icons">
    <i class="fas fa-heart"></i>
    <i class="fas fa-eye"></i>
  </div>

  <div class="product-image-wrapper">
    <img src="../../../public/img/products/vivo1.webp" alt="iPhone 14 Pro Max">
    <button class="add-to-cart-btn">Añadir al carrito</button>
  </div>

  <p>vivo Y33T</p>
  <p class="price">$ 539.900,00 <span class="old-price">$ 549.900,00</span></p>
  <p class="rating">★★★★★ (22)</p>
</div>



    <!-- Producto 7 -->
   <div class="product">
  <div class="discount">-15%</div>

  <div class="icons">
    <i class="fas fa-heart"></i>
    <i class="fas fa-eye"></i>
  </div>

  <div class="product-image-wrapper">
    <img src="../../../public/img/products/xiaomi1.webp" alt="iPhone 14 Pro Max">
    <button class="add-to-cart-btn">Añadir al carrito</button>
  </div>

  <p>Xiaomi Poco X7 Pro</p>
  <p class="price">1.100.683,68 <span class="old-price">1.115.683,68</span></p>
  <p class="rating">★★★★★ (32)</p>
</div>



    <!-- Producto 8 -->
   <div class="product">
  <div class="discount">-5%</div>

  <div class="icons">
    <i class="fas fa-heart"></i>
    <i class="fas fa-eye"></i>
  </div>

  <div class="product-image-wrapper">
    <img src="../../../public/img/products/xiaomi.png" alt="iPhone 14 Pro Max">
    <button class="add-to-cart-btn">Añadir al carrito</button>
  </div>

  <p>Xiaomi Redmi Note 14 Pro+ 5G</p>
  <p class="price">1.059.127,40  <span class="old-price">1.159.127,40 </span></p>
  <p class="rating">★★★★★ (30)</p>
</div>



  </div>
</section>






  <footer>
      <div class="footer-section">
        <img src="../../../public/img/products/logo-positivo.png" alt="ShopNexs Logo" class="footer-logo"> <!-- Agregar el logo correspondiente-->
      </div>
  
      <div class="send-message">
        <input type="text" placeholder="Envía un correo">
        <button type="submit">
          <i class="fa-solid fa-paper-plane" style="color: #0c0c0c;"></i>
        </button>
      </div>
    
      <div class="footer-section">
        <h3>Información</h3>
        <ul>
          <li><a href="/html/about-us.html">Acerca de</a></li>
          <li><a href="/html/contact.html">Contacto</a></li>
          <li><a href="/html/sign-up.html">Regístrate</a></li>
        </ul>
      </div>
    
      <div class="footer-section">
        <h3>Soporte</h3>
        <ul>
          <li><a>soporteshopnexts@gmail.com</a></li>
          <li><a>Calle 133 # 123 - 34 Piso 12</a></li>
          <li><a>+57 343 948 9283</a></li>
        </ul>
      </div>
    
      <div class="footer-section">
        <h3>Contacto</h3>
        <ul>
          <li><a>Redes Sociales</a></li>
  
          <img src="../img/Icon-Twitter.png" alt="Icon Twitter">
          <img src="../img/icon-instagram.png" alt="Icon Instagram">
          <img src="../img/Icon-Linkedin.png" alt="Icon LinkedIn">
        </ul>
      </div>
    </footer>
</body>
</html>