<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta | ShopNext</title>
    <link rel="stylesheet" href="../../public/css/signUp.css">
    <link rel="icon" href="../../public/img/icon_principal.ico" type="image/x-icon">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container reverse">
        <div class="form-column">
            <div class="form-header">
                <a href="../../public/index.php"><img src="../../public/img/logo.svg" alt="ShopNext Logo" class="logo"></a>
                <div class="hamburger-menu">
                    <button id="hamburger-icon" class="hamburger-button"><i class="fas fa-bars"></i></button>
                    <div id="dropdown-content" class="dropdown-content">
                        <a href="../../public/index.php"><i class="fas fa-home"></i> <span>Inicio</span></a>
                        <a href="#"><i class="fas fa-box-open"></i> <span>Productos</span></a>
                        <a href="../pages/aboutUs.html"><i class="fas fa-info-circle"></i> <span>Acerca de</span></a>
                    </div>
                </div>
            </div>
            
            <div class="form-content">
                <h1>Crea una Cuenta</h1>
                <p class="subtitle">Ingresa tus detalles para empezar</p>
                
              <form action="/ShopNext/ShopNext-Beta/controllers/registroController.php" method="POST">
                <input type="hidden" name="tipo" value="cliente">
                <div class="form-group">
                  <input type="text" id="nombre" name="nombre" placeholder=" " required>
                  <label for="nombre">Nombre</label>
                </div>
                <div class="form-group">
                  <input type="email" id="correo" name="correo" placeholder=" " required>
                  <label for="email">Email</label>
                </div>
                <div class="form-group password-wrapper">
                  <input type="password" id="contrasena" name="clave" placeholder=" " required>
                  <label for="contrasena">Contraseña</label>
                  <i class="fas fa-eye-slash toggle-password"></i>
                </div>
                <button type="submit" class="btn btn-primary">Crear Cuenta</button>
              </form>

                <a href="signUpVendedor.html" class="btn-vendedor">
                    <i class="fas fa-user-tie"></i>
                    <span>Crear Cuenta Vendedor</span>
                </a>
                <div class="divider">
                    <span>¿Ya tienes una cuenta?</span>
                </div>
                <a href="login.php" class="btn btn-secondary">
                    Iniciar Sesión
                </a>
            </div>
        </div>
        <div class="image-column">
            <img src="../../public/img/foto-login.png" alt="Sign Up Image">
        </div>
    </div>
    <script src="../../public/js/signUp.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../public/js/alertas.js"></script>
</body>
</html>