<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>401 | ShopNext</title>
  <link rel="icon" href="/ShopNext/shopnext-beta/public/img/icon_principal.ico" type="image/x-icon">
  <link rel="stylesheet" href="/ShopNext/shopnext-beta/public/css/error/404.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header>
  <!-- Header Negro -->
    <div class="header-top">
        <p>Rebajas de Verano: ¡50 % de Descuento!</p>
        <h2>¡Compra Ahora!</h2>
        <select>
            <option value="es">Español</option>
            <option value="en">English</option>
        </select>
    </div>

  <!-- Header Principal -->
    <div class="header-main">
        <!-- Logo Principal -->
        <div class="logo-menu">
            <div class="logo">
                <a href="/ShopNext/shopnext-beta/public/index.html"><img src="/ShopNext/shopnext-beta/public/img/logo.svg" alt="ShopNext"></a>
            </div>
            <!-- Menú Hamburguesa -->
            <button class="hamburger" onclick="toggleMenu()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>

        <!-- Nav Menú -->
        <nav class="nav-links" id="navMenu">
            <a href="/ShopNext/shopnext-beta/public/index.php">Inicio</a>
            <a href="/ShopNext/shopnext-beta/views/auth/signUp.html">Regístrate</a>
            <a href="/ShopNext/shopnext-beta/views/pages/contact.html">Contacto</a>
            <a href="/ShopNext/shopnext-beta/views/pages/aboutUs.html">Acerca de</a>
        </nav>

        <!-- Buscador -->
        <div class="icons">
            <div class="buscador">
                <input type="text" placeholder="¿Qué estás buscando?">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <!-- Favoritos -->
            <button class="icon-btn"><i class="fa-solid fa-heart"></i></button>
            <!-- Carrito -->
            <button class="icon-btn"><i class="fa-solid fa-cart-shopping"></i></button>
            <!-- Iniciar Sesión -->
            <a href="/ShopNext/shopnext-beta/views/auth/login.php" class="login-btn">Iniciar Sesión</a>
        </div>
    </div>
</header>

  <section>
    <div class="inicio-h2"><h2>Inicio / 401</h2></div>

    <div class="principal-h3"><h3>401 ¡No estás autorizado!</h3></div>


  <div class="text-h4"><h4>Haz intentado acceder sin las credenciales necesarias.</h4></div>

    <div class="button-error">
        <a href="/ShopNext/shopnext-beta/public/index.php"><button type="submit" style="color: white;">Volver al Inicio</button></a>
    </div> 
    </section>

<footer class="footer-contact">
  <div class="footer-section">
    <img src="/ShopNext/shopnext-beta/public/img/logo-positivo.png" alt="ShopNexs Logo" class="footer-logo">
  </div>
  <div class="footer-section">
    <h3>Información</h3>
    <ul>
      <li><a href="/ShopNext/shopnext-beta/views/pages/aboutUs.html">Acerca de</a></li>
      <li><a href="/ShopNext/shopnext-beta/views/pages/contact.html">Contacto</a></li>
      <li><a href="/ShopNext/shopnext-beta/views/auth/signUp.html">Regístrate</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h3>Soporte</h3>
    <ul>
      <li><a>soporteshopnexts@gmail.com</a></li>
      <li><a>Calle 133 # 123 - 34 Piso 12</a></li>
      <li><a>+57 343 948 9283</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h3>Contacto</h3>
    <ul class="social-icons">
      <li><a href="#"><img src="/ShopNext/shopnext-beta/public/img/Icon-Twitter.png" alt="Twitter"></a></li>
      <li><a href="#"><img src="/ShopNext/shopnext-beta/public/img/icon-instagram.png" alt="Instagram"></a></li>
      <li><a href="#"><img src="/ShopNext/shopnext-beta/public/img/Icon-Linkedin.png" alt="LinkedIn"></a></li>
    </ul>
  </div>
</footer>
  
</head>
</body>