<IfModule mod_rewrite.c>
    # Activa el motor de reescritura
    RewriteEngine On

    # Establece la carpeta base del proyecto para que las rutas funcionen bien
    RewriteBase /shopnext/ShopNext-Beta/

    # --- La Condición Clave ---
    # Si la URL que pide el navegador NO es un archivo que ya existe...
    RewriteCond %{REQUEST_FILENAME} !-f
    # Y si la URL que pide el navegador NO es una carpeta que ya existe...
    RewriteCond %{REQUEST_FILENAME} !-d

    # ...ENTONCES, y solo entonces, redirige la petición a tu controlador frontal
    RewriteRule ^(.*)$ public/index.php?/$1 [L,QSA]
</IfModule>