<IfModule mod_rewrite.c>
    RewriteEngine On

    # La base de tu proyecto es correcta
    RewriteBase /shopnext/ShopNext-Beta/

    # Si la petición NO es para un archivo o directorio existente...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # ...redirige TODO a tu controlador frontal en la carpeta public.
    RewriteRule . public/index.php [L]
</IfModule>