@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Homepage */
/* Header oscuro */

*{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: "Poppins", sans-serif;
  font-style: normal; 
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#header-black{
  background-color: #121212;
  height: 50px;
  justify-content: center;
  align-items: center;  
  display: flex;
}

/* Párrafo principal */

#header-black p{
  color: #fefefe;
  background-color: #121212;
  padding-right: 20px;
  font-weight: 400;
  position: relative;
  top: 1px;
}

/* Compra ahora h2 */

#header-black h2{
  color: #fefefe;
  background-color: #121212;
  border-bottom: 1px solid #fefefe;
  font-size: 19px;
  font-weight: 600;
}

/* Contenedor idioma */
#header-black #languages{
  background-color: #121212;
  color: #fefefe;
  border: #121212;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  position: relative;
  left: 330px;
  font-weight: 400;
}

/* Header Principal */

#header-principal{
  padding-bottom: 0px; 
  margin-bottom: -30px; 
  position: relative;
  top: -10px;
}

#header-principal img{
  width: 220px;
  padding-left: 100px;
  margin-bottom: -140px;
  position: absolute;
  bottom: 100px;
}

#header-principal #nav{
  text-align: center;
  background-color: none;
  position: relative;
  bottom: 7px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Secciones del header */

#header-principal #nav a {
  text-decoration: none;
  color: #8E06C2;
  font-weight: 400;
  position: relative;
  top: 50px;
  right: 70px;
  display: inline-block;
  margin: 10px 30px;
}

#header-principal #nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #8E06C2;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#header-principal #nav a:hover::after {
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
}

/* Contenedor del buscador */

.buscador {
  display: flex;
  align-items: center;
  position: absolute;
  right: 40px; 
  top: 40px;
}

/* Texto del buscador */

.buscador input {
  background-color: #F5F5F5;
  padding-left: 10px;
  border-color: #F5F5F5;
  border-radius: 5px 0 0 5px;
  width: 200px;
  height: 36px;
  outline: none;
  border: 1px solid #ccc;
  position: absolute;
  right: 340px;
  top: 5px;
}

/* Botón */

.buscador button {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #F5F5F5;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 300px;
  top: 5px;
}

/* Corazón */

.heart{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 210px;
  top: 45px;
}

/* Botón */

.heart button{
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.heart i {
  color: #121212;
  font-size: 20px;
}

/* Carrito */

.cart{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 160px;
  top: 45px;
}

.cart button{
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.cart i {
  color: #121212;
  font-size: 20px;
}


/* Sección Promocional */
.seccion-promocional {
  position: relative;
  background: linear-gradient(to right, #d19fe4, #f1a1dc);
  padding: 80px 20px 120px; /* Aumenta el padding para más altura */
  text-align: center;
  overflow: hidden;
  min-height: 210px; /* Asegura espacio mínimo para mostrar las imágenes */
}


.contenido-promocional {
  z-index: 2;
  position: relative;
  color: black;
}

.contenido-promocional .subtitulo {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
}

.contenido-promocional .titulo {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0 0 0; /* sube un poco el texto */
}

.img-izquierda, .img-derecha {
  position: absolute;
  bottom: 0;
  width: 390px;
  z-index: 1;
}

.img-izquierda {
  left: 150px;
}

.img-derecha {
  right: 150px;
}

.seccion-promocional::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background: linear-gradient(to top, white, transparent);
  z-index: 2;
}



/*anuncio de marcas*/

#header-principal {
  margin-bottom: 50px; /* Espaciado entre header - Marcas */
}


.seccion-marcas {
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
}

.seccion-marcas h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.contenedor-marcas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 75px;
}

.marca {
  width: 80px;
  height: 80px;
  background-color: #f9f9f9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.marca:hover {
  transform: scale(1.1);
}

.marca img {
  max-width: 100px;
  max-height: 100px;
}




/*Productos*/
.section-telefonos {
  padding: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.0rem;
}

.rating {
  margin: 0.5rem 0;
  color: #facc15;
}

    
.product {
    min-width: 280px; /* antes era 220px */
    height: auto;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
  }

  .product-image-wrapper {
    position: relative;
    background-color: #f9f9f9;
    background-image: grey;
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .product img {
    width: auto;
    height: 100%;
    object-fit: contain;
    padding: 0;
  }

  .add-to-cart-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 0;
    font-size: 14px;
    cursor: pointer;
    display: none;
    transition: background 0.3s;
    border-radius: 0 0 10px 10px;
  }

  .product-image-wrapper:hover .add-to-cart-btn {
    display: block;
  }

  .add-to-cart-btn:hover {
    background-color: #222;
  }

  .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #8E06C2;
    color: white;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    z-index: 2;
  }

  .icons {
    position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 2;
  }

  .icons i {
    color: #555;
    background: white;
    border-radius: 50%;
    padding: 6px;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }

  .icons i:hover {
    background-color: #8000ff;
    color: white;
  }

  .product p {
    padding: 0 1rem;
    margin: 0.25rem 0;
    font-size: 14px;
    text-align: left;
  }

  .product .price {
    font-weight: bold;
    color: #5a00e0;
  }

  .product .old-price {
    text-decoration: line-through;
    color: #aaa;
    margin-left: 6px;
  }

  .product .rating {
    color: #110e16;
    font-size: 13px;
    padding-bottom: 1rem;
  }




/* footer*/

main, .contenido {
  flex: 1;
}

footer {
  margin-top: 10px;
  padding: 40px 20px; 
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  position: relative;
}

.footer-contact {
  margin-top: 800px;
  padding: 40px 20px; 
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  position: relative;
}

.footer-section img.footer-logo {
  font-family: 'Poppins' 'sans-serif';
  max-width: 150px; 
  height: auto;
  display: block;
  margin: 0 auto; 
  background: none;
}

.footer-section {
  font-family: 'Poppins' sans-serif;
  flex: 1;
  padding: 20px;
  margin: 10px;
  background-color: #121212;
  border-radius: 8px; 
}

.footer-section h3 {
  font-family: 'Poppins' sans-serif;
  margin-bottom: 10px;
  background: none;
}

.footer-section ul {
  font-family: 'Poppins' sans-serif;
  list-style: none;
  padding: 0;
  background: none;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-family: 'Poppins' sans-serif;
  background: none;
}

.footer-section a {
  font-family: 'Poppins' sans-serif;
  text-decoration: none;
  color: #f1f1f1;
  background: none;
}

.footer-section img{
  background: #f1f1f1;
  border: 15px;
  border-radius: 5px;
}

.footer-section a:hover {
  font-family: 'Poppins' sans-serif;
  text-decoration: underline;
  background: none;
}
















